{% extends "layouts/base.html" %}
{% set project = "Doodles" %}

{% block body %}
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Doodles</strong></h1>
        <p class="text-secondary">Don't really know what to put here. Have some doodles.</p>
    </div>
    <div>
        <img src="{{ url_for('static', filename='assets/Fox.png') }}" alt="Fox doodle 1">
        <img src="{{ url_for('static', filename='assets/fox2.png') }}" alt="Fox doodle 2">
        <img src="{{ url_for('static', filename='assets/penguin.png') }}" alt="Penguin doodle">
        <img src="{{ url_for('static', filename='assets/hedgehog.png') }}" alt="Hedgehog doodle">
        <img src="{{ url_for('static', filename='assets/hedgehog.png') }}" alt="Hedgehog doodle">
        <img src="{{ url_for('static', filename='assets/snail.png') }}" alt="Snail doodle">
    </div>
{% endblock %}

{% block background %}
{% endblock %}