{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Home (I'm tired of talking about myself so I will be talking about anime boys)</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/(Cooperative Sandstorm) Hinata Aoi CG2.png') }}" alt="Hinata Aoi" width="250">
                    <div class="card-body">
                    <h5 class="card-title">Hinata Aoi</h5>
                    <p class="card-text">
                        <ol>
                            <li>Hinata Aoi is the leader of idol group 2wink, part of the agency CosPro.</li>
                            <li>He is one of two members in his unit, the other being his younger brother, Yuta Aoi.</li>
                            <li>He is a second year at Yumenosaki High School, in class 1a.</li>
                            <li>He is friends with Shinobu Sengoku and Tetora Nagumo.</li>
                            <li>Hinata is known to be enthusiastic, often playing pranks on others, as well as his seniors.</li>
                        </ol>
                    </p>
                    <a href="https://ensemble-stars.fandom.com/wiki/Hinata_Aoi" class="btn btn-primary">Hinata's Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/(Hopeful Bouquet) Midori Takamine CG2.png') }}" alt="Flask Development" width="250">
                    <div class="card-body">
                    <h5 class="card-title">Midori Takamine</h5>
                    <p class="card-text">
                        <ol>
                            <li>Midori Takamine is a third year student of Yumenosaki High School.</li>
                            <li>He is the fourth member of the Super Sentai based unit 'Ryuseitai', known as 'Ryuseitai Green'.</li>
                            <li>He is often very pessimistic, as he enrolled in the idol course on accident, and thus, does not want to be there.</li>
                            <li>Occasionally, he does modeling.</li>
                            <li>He has come to accept and embrace his fate as an idol, and works just as hard as the rest of Ryuseitai's members.</li> 
                        </ol>
                    </p>
                    <a href="https://ensemble-stars.fandom.com/wiki/Midori_Takamine" class="btn btn-primary">Midori's Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/(Sealed Display of Specimens) Mika Kagehira CG2.png') }}" alt="Backend and Persistence" width="250">
                    <div class="card-body">
                    <h5 class="card-title">Mika Kagehira</h5>
                    <p class="card-text">
                        <ol>
                            <li>Mika Kagehira is the second member of two-person unit Valkyrie.</li>
                            <li>He is a third year student of Yumenosaki High School, and is known to be rather brainless at times.</li>
                            <li>Despite how he often lacks thought, he is very caring towards others, and is very devoted towards Shu Itsuki.</li>
                            <li>He sometimes repairs stuffed animals for his juniors.</li>
                            <li> He once tried to bury Ritsu Sakuma, believeing he'd killed him (Ritsu was asleep).</LI>
                        </ol>
                    </p>
                    <a href="https://ensemble-stars.fandom.com/wiki/Mika_Kagehira" class="btn btn-primary">Mika's Profile</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}