<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About Me</strong></h1>
        <p class="text-secondary">Keira Okimoto</p>
        <p class="text-secondary">Hello. My name is Keira Okimoto, and I'm a senior at Del Norte High School.</p>
        <p class="text-secondary">In my free time, I like to draw, sleep, eat, and play games.</p>
        <p class="text-secondary">I also like to spend time with my friends, and go out to eat with them.</p>
        <p class="text-secondary">I have two birds, Blue and Mochi.</p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}